<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageName}"></title>
</head>
<body>
<div>
    <h1 th:text="${pageName}"></h1>
    <hr>
    <h3>메인</h3>
</div>
<div class="container">
    <div>
        <p><b th:text="${name}"></b></p>
        <p th:if="${presence == 0}">
            <a href="/cookie-cookie/join">회원 가입</a>
            <a href="/cookie-cookie/login">로그인</a>
        </p>
        <p th:if="${presence == 1}">
            <a href="/cookie-cookie/info">회원 정보</a>
            <a href="/cookie-cookie/logout">로그아웃</a>
        </p>
    </div>
</div>
</body>
</html>